# if, elif and else statements in python

In [2]:
if True:
    print('its True!')

its True!

In [3]:
if 3 > 2:
    print('ITS TRUE!')

ITS TRUE!

In [6]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [8]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print('I AM NOT HUNGRY!')

I AM NOT HUNGRY!

In [16]:
# Multiple Branches

loc = 'Games'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much')

I do not know much

In [20]:
name = 'jose'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Siddhant':
    print('Hello Siddhant')
else:
    print('What is your name?')

What is your name?

# For loops

In [21]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [24]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [25]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [27]:
for num in mylist:
    if num % 2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [29]:
list_sum = 0
for num in mylist:
    list_sum += num
print(list_sum)

55

In [30]:
#  running tally of list sum
list_sum = 0
for num in mylist:
    list_sum += num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [31]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [32]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [33]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [34]:
# tuple unpacking
for (a, b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [36]:
mylist = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in mylist:
    print(b)

2
5
8

In [41]:
# iterating through dictionary
# by default for loop will iterate through keys
d = {'k1': 1, 'k2':2, 'k3': 3}

for item in d:
    print(item)

k1
k2
k3

In [44]:
# iterate through values in dictionary

for value in d.values():
    print(value)

1
2
3

In [46]:
# to iterate through keys in dictionary

for item in d.keys():
    print(item)

k1
k2
k3

In [45]:
# iterate through key,value in dictionary
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [43]:
for key, value in d.items():
    print(value)
    print(key)

1
k1
2
k2
3
k3

# While loops

In [47]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x+=1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [49]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x+=1
else:
    print('x is not less than 5 anymore')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5 anymore

In [50]:
x = 10
while x < 5:
    print(f'The current value of x is {x}')
    x+=1
else:
    print('x is not less than 5 anymore')

x is not less than 5 anymore

In [52]:
# pass -> does nothing at all. Avoids error
x = [1, 2, 3]

for item in x:
    pass
print('end of script')

end of script

In [54]:
# continue -> goes to the top of the closest enclosing loop

mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [55]:
# break -> break out of the current closest enclosing loop

mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [58]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x+=1

0
1

# Useful Operators in Python

In [59]:
mylist = [1, 2, 3]

In [60]:
# range()
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [61]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [63]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [64]:
# range is a generator i.e. it will generate some kind of information instead of saving 
# it all to memory
range(0, 11, 2)

range(0, 11, 2)

In [65]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [66]:
# enumerate use case I

index_count = 0
for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [67]:
# enumerate use case II

index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [70]:
# enumerate

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [74]:
# zip
mylist1 = [1, 2, 3, 4]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [75]:
zip(mylist1, mylist2)

In [76]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [78]:
#  zip will only zip together or combine together as far as the shortest length zip
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [79]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [80]:
# in operator

'x' in [1, 2, 3]

False

In [81]:
'x' in ['x', 'y', 'z']

True

In [82]:
2 in [1, 2, 3]

True

In [83]:
'a' in 'a world'

True

In [84]:
'my_key' in {'my_key': 345}

True

In [85]:
d = {'my_key': 345}

In [86]:
345 in d.values()

True

In [87]:
'my_key' in d.keys()

True

In [88]:
# user input

input('Enter a number here:')

Enter a number here:10

'10'

In [89]:
result = input('Enter a number here:')

Enter a number here:10

In [90]:
result

'10'

In [91]:
type(result)

str

In [92]:
float(result)

10.0

In [93]:
int(result)

10

In [94]:
# shuffle
from random import shuffle

In [95]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
shuffle(mylist)

In [99]:
mylist

[1, 7, 5, 2, 8, 6, 4, 9, 3]

In [103]:
# in place method
shuffled_list = shuffle(mylist)

In [104]:
type(shuffled_list)

NoneType

In [105]:
# random integer
from random import randint

In [107]:
randint(0,100)

21

In [113]:
rand_int = randint(0, 100)

In [114]:
rand_int

12

# List Comprehension

- a unqiue way of quickly creating a list.

- if you find yourself using a for loop along with .append() to create a list, list comprehensions are a good alternatives.

In [115]:
mystring = 'hello'

In [118]:
# using a for loop along with .append() to create a list
mylist = []

for letter in mystring:
    mylist.append(letter)

In [119]:
mylist

['h', 'e', 'l', 'l', 'o']

In [120]:
# using list comprehension
mylist = [letter for letter in mystring]

In [121]:
mylist

['h', 'e', 'l', 'l', 'o']

In [122]:
mylist = [x for x in 'word']

In [123]:
mylist

['w', 'o', 'r', 'd']

In [130]:
mylist = [num for num in range(0, 11)]

In [131]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [132]:
mylist = [num ** 2 for num in range(0, 11)]

In [133]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [138]:
# if in list comprehension
mylist = [num for num in range(0, 11) if num%2 == 0]

In [139]:
mylist

[0, 2, 4, 6, 8, 10]

In [140]:
mylist = [num ** 2 for num in range(0, 11) if num%2 == 0]

In [141]:
mylist

[0, 4, 16, 36, 64, 100]

In [147]:
celcius = [0, 10, 20, 34.5]

In [148]:
fahrenhite = []

for temp in celcius:
    fahrenhite.append((9/5)*temp + 32)

In [149]:
fahrenhite

[32.0, 50.0, 68.0, 94.1]

In [150]:
fahrenhite = [((9/5) * temp + 32) for temp in celcius]

In [151]:
fahrenhite

[32.0, 50.0, 68.0, 94.1]

In [156]:
# if else in list comprehension
mylist = [x if x % 2 == 0 else 'ODD' for x in range(0, 11)]

In [157]:
mylist

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [165]:
# List Comprehension using nested loop
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x * y)

In [166]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [167]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 100]]

In [168]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]